* {
    box-sizing: border-box;
    font-family: 'Shippori Mincho B1', serif;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: rgb(70, 70, 70);
}

a {
    text-decoration: none;
    color: #8c6ae9;
    font-weight: bold;
    font-size: 2;
    transition: color .1s;
}

a:hover {
    color: #a094ca;
}

button {
    background-color: #6f54b8;
    border: 0;
    padding: 1%;
    color: rgb(48, 48, 48);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 11px;
}

button:hover {
    background-color: #46338b;
}

.post-list {
    margin: 0;
    padding: 0;
}

textarea,
input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #7f72ca;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}


form>div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    padding: 30px 1% 30px 3%;
    background-color: #333;
}

header h1 a {
    font-size: 3vw;
    background-color: #6638a1;
    color: #333;
    padding: 15px 13px;
    border-radius: 15px;
    box-shadow: 7px 6px #472272;
}

.nav {
   width: 30%;
   display: flex; 
   justify-content: space-between;
   margin-bottom: 45px;
   font-size: 1.8vw;
   border:10px, #674b94
}

.nav a {
    font-weight: normal;
}

main {
    flex: 1;
    padding: 2% 4%;
    margin: auto;
}

main form {
    font-size: 2vw;
    width: 50%;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #8950b8;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
}

.btn-no-style:hover {
    background: none;
    color: #5b2ec4;
}

.delete-post-btn {
    background-color: #965acf;
}

.delete-post-btn:hover {
    background-color: #4c3179;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
}

.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #646464;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}

.upvote-btn {
    background-color: #4e2196;
    transition: background-color .1s;
}

.upvote-btn:hover {
    background-color: #53168b;
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.comment:nth-child(odd) {
    background-color: #fff5eb;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}